html {
    font-size: $root_fz;
    scroll-behavior: smooth;
}

html,
body {
    font-family: 'Open Sans', sans-serif;
}

input:focus,
input:active,
select:focus,
select:active,
textarea:focus,
textarea:active,
button:focus,
button:active,
a:focus,
a:active {
    outline: none !important;
}

.btn {
    padding: 0.5rem 1rem;
    border-radius: 5px;

    &-green {
        background-color: $primary;
        color: $white;

        &:hover {
            color: $white;
        }
    }
}

.header_separator {
    height: 30px;
    background-color: $gray;
}

.navbar {
    background-color: $white;
    overflow: hidden;

    &.sticky-top {
        top: 30px;
    }

    .nav-item {
        position: relative;
        min-width: 100px;
        text-align: center;

        a.nav-link {
            color: $secondary;

            &.active {
                color: $white;
                position: relative;

                &:before {
                    content: '';
                    z-index: -1;
                    position: absolute;
                    width: 100%;
                    height: 100px;
                    background-color: $primary;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }

        &.active:before {
            content: '';
            z-index: 0;
            position: absolute;
            width: 100px;
            height: 100px;
            background-color: $primary;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

#Home {
    position: relative;

    .slideText {
        font-size: 2rem;
        position: absolute;
        left: 5rem;
        top: 5rem;
        color: $white;
        z-index: 10;
        text-shadow: 0px 3px 5.04px rgba(16, 14, 16, 0.38);

        span {
            font-size: 2.3rem;
            line-height: 4rem;
            text-transform: uppercase;
            background-color: rgba($primary, 0.7);
            border-radius: 10px;
            padding: 0 0.5rem;
        }
    }

    .mainSlider {
        .item {
            width: 100%;
            height: calc(100vh - 130px);
            background-size: cover;
            background-position: center center;

            &:before {
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                background-color: rgba($black, 0.05);
            }

            &.slide1 {
                background-image: url('../images/evon-ab.jpg');
            }

            &.slide2 {
                background-image: url('../images/evon-ba.jpg');
            }

            &.slide3 {
                background-image: url('../images/evon-cb.jpg');
            }

            &.slide4 {
                background-image: url('../images/evon-da.jpg');
            }
        }
    }

    button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
        background-color: rgba($terciary, 0.5);
        border-radius: 100%;
        width: 40px;
        height: 40px;
        border: none;
        color: $white;
        transition: all 0.25s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &.prev {
            left: 1rem;
        }

        &.next {
            right: 1rem;
        }

        &:hover {
            background-color: rgba($terciary, 1);
        }
    }

    .contactBanner {
        background-color: $secondary;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: -0.5rem;
        padding: 1rem 0;
        position: relative;

        p {
            margin: 0;
            color: $white;
        }

        .scroller {
            width: 125px;
            height: 80px;
            position: absolute;
            top: -25px;
            left: 50%;
            transform: translateX(-50%);
            background-color: transparent;
            border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
            display: flex;
            z-index: 1;
            justify-content: center;

            i {
                color: $white;
                z-index: 10;
                position: relative;
                top: 10px;
            }
        }

        #svgbg {
            position: absolute;
            top: -18px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 0;
            width: 100px;
            height: 18px;
            fill: #ffffff;
            opacity: 1;
            fill: $secondary;
            fill-opacity: 1;
            fill-rule: evenodd;
            stroke: none;
            stroke-width: 1;
            stroke-linecap: round;
            stroke-linejoin: miter;
            stroke-miterlimit: 4;
            stroke-dasharray: none;
            stroke-opacity: 1
        }
    }
}

#HomeGrid.grid-container {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    grid-gap: 0px;

    .grid-item {
        position: relative;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        &.logo {
            grid-column-start: 1;
            grid-column-end: 3;
        }

        &.servicios {
            grid-column-start: 3;
            grid-column-end: 4;
            background-image: url('./../images/mosaico-servicios.jpg');

            &:hover {
                background-image: url('./../images/mosaico-servicios-activo.jpg');
            }
        }

        &.materiales {
            grid-column-start: 4;
            grid-column-end: 5;
            background-image: url('./../images/mosiaco-materiales.jpg');

            &:hover {
                background-image: url('./../images/mosiaco-materiales-activo.jpg');
            }
        }

        &.personal {
            grid-column-start: 1;
            grid-column-end: 3;
            background-image: url('./../images/mosiaco-personal.jpg');

            &:hover {
                background-image: url('./../images/mosaico-personal-activo.jpg');
            }
        }

        &.instalaciones {
            grid-column-start: 3;
            grid-column-end: 4;
            background-image: url('./../images/mosiaco-instalaciones.jpg');

            &:hover {
                background-image: url('./../images/mosaico-intalaciones-activo.jpg');
            }
        }

        &.proceso {
            grid-column-start: 4;
            grid-column-end: 5;
            background-image: url('./../images/mosiaco-proceso.jpg');

            &:hover {
                background-image: url('./../images/mosiaco-proceso-activo.jpg');
            }
        }

        &:before {
            content: "";
            padding-bottom: 60%;
            display: inline-block;
            vertical-align: top;

            @media only screen and (max-width: 770px) {
                padding-bottom: 100%;
            }
        }

        .inner-grid {
            position: absolute;
            text-align: center;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            font-size: 1.5rem;
            padding-top: 1rem;

            .header {
                margin-left: 1rem;
                color: $white;
                position: relative;
                margin-bottom: 3px;
                font-weight: bold;
                line-height: 1.7rem;

                &:before {
                    content: '';
                    position: absolute;
                    width: 190px;
                    height: 1px;
                    left: -10px;
                    bottom: 0;
                    border-bottom: 1px solid $white;
                }
            }

            .subheader {
                margin-left: 1rem;
                color: $white;
                font-size: 0.7rem;
            }

            @media only screen and (max-width: 1024px) {}
        }
    }
}

#About {
    margin-top: -120px;
    padding-top: 120px;

    .slideText {
        text-align: center;
        font-size: 2rem;
        color: $primary;
        font-weight: bold;
        z-index: 10;
        text-shadow: 0px 3px 5.04px rgba(16, 14, 16, 0.38);

        span {
            font-size: 2.3rem;
            line-height: 4rem;
            text-transform: uppercase;
            color: $white;
            background-color: rgba($primary, 1);
            border-radius: 10px;
            padding: 0 0.5rem;
        }
    }

    .colored {
        background-color: $secondary;
        color: $white;
        font-size: 0.8rem;
        padding: 1.5rem;

        .header {
            font-size: 1.5rem;
            position: relative;
            width: 100%;

            &:after {
                content: '';
                width: 100%;
                height: 1px;
                display: block;
                position: relative;
                left: -0.5rem;
                border-bottom: 1px solid $white;
            }
        }

        span {
            font-size: 1rem;
            font-weight: bold;
        }

        .descriptionContainer {
            position: relative;

            .description {
                position: relative;
                z-index: 10;
            }

            .scroller {
                width: 100px;
                height: 80px;
                position: absolute;
                top: 50%;
                right: -40px;
                background-color: transparent;
                border-radius: 50% 50% 50% 50% / 40% 60% 60% 40%;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                transform: translateY(-50%);
                z-index: 1;

                i {
                    color: $white;
                    z-index: 10;
                    position: relative;
                    right: 20px;
                }
            }

            #svgbg {
                position: absolute;
                top: 50%;
                right: -67px;
                transform: translateY(-50%) rotate(90deg);
                z-index: 0;
                width: 100px;
                height: 18px;
                fill: #ffffff;
                opacity: 1;
                fill: $secondary;
                fill-opacity: 1;
                fill-rule: evenodd;
                stroke: none;
                stroke-width: 1;
                stroke-linecap: round;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
                stroke-dasharray: none;
                stroke-opacity: 1
            }
        }

        &.misionContainer {
            position: relative;

            .mision {
                width: 60%;
                min-width: 250px;
                margin: auto;
                margin-right: 15%;
            }

            .scroller {
                width: 100px;
                height: 80px;
                position: absolute;
                top: 50%;
                left: -30px;
                background-color: transparent;
                border-radius: 50% 50% 50% 50% / 60% 40% 40% 60%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                transform: translateY(-50%);
                z-index: 1;

                i {
                    color: $white;
                    z-index: 10;
                    position: relative;
                    left: 20px;
                }
            }

            #svgbg {
                position: absolute;
                top: 50%;
                left: -58px;
                transform: translateY(-50%) rotate(-90deg);
                z-index: 0;
                width: 100px;
                height: 18px;
                fill: #ffffff;
                opacity: 1;
                fill: $secondary;
                fill-opacity: 1;
                fill-rule: evenodd;
                stroke: none;
                stroke-width: 1;
                stroke-linecap: round;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
                stroke-dasharray: none;
                stroke-opacity: 1
            }
        }
    }
}

#Services {
    margin-top: -120px;
    padding-top: 120px;

    .imageContainer {
        background-image: url('../images/pacas.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: calc(100vh - 100px);
        position: relative;

        .floatContainer {
            position: absolute;
            right: 3rem;
            bottom: 7vh;
            background-color: rgba($primary, 0.8);
            border-radius: 10px;
            padding: 1rem;

            #svgbg {
                position: absolute;
                bottom: -18px;
                left: 50%;
                transform: translateX(-50%) rotate(-180deg);
                z-index: 0;
                width: 100px;
                height: 18px;
                fill: #ffffff;
                opacity: 1;
                fill: rgba($primary, 0.8);
                fill-opacity: 1;
                fill-rule: evenodd;
                stroke: none;
                stroke-width: 1;
                stroke-linecap: round;
                stroke-linejoin: miter;
                stroke-miterlimit: 4;
                stroke-dasharray: none;
                stroke-opacity: 1
            }

            .scroller {
                width: 120px;
                height: 30px;
                position: absolute;
                bottom: -30px;
                left: 50%;
                transform: translateX(-50%);
                background-color: transparent;
                // background-color: rgba($primary, 0.8);
                border-radius: 50% 50% 50% 50% / 0% 0% 100% 100%;
                // border-radius: 50% 50% 50% 50% / 50% 50% 30% 30%;
                display: flex;
                z-index: 1;
                justify-content: center;
                align-items: flex-end;

                i {
                    color: $white;
                    z-index: 10;
                    position: relative;
                    bottom: 15px;
                }
            }

            .header {
                font-size: 1.5rem;
                position: relative;
                width: 100%;
                color: $white;

                &:after {
                    content: '';
                    width: 230px;
                    height: 1px;
                    display: block;
                    position: relative;
                    left: -0.5rem;
                    border-bottom: 1px solid $white;
                }
            }

            .dotted {
                position: relative;
                color: $white;
                margin-left: 2rem;

                &:before {
                    content: '';
                    width: 8px;
                    height: 8px;
                    border-radius: 100%;
                    background-color: $white;
                    position: absolute;
                    left: -15px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }

            ul {
                list-style: none;

                li {
                    position: relative;
                    color: $white;

                    &:before {
                        content: '';
                        width: 8px;
                        height: 1px;
                        background-color: $white;
                        display: block;
                        position: absolute;
                        left: -15px;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
            }
        }
    }
}

#Materials.grid-container {
    margin-top: -120px;
    padding-top: 120px;
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    grid-gap: 0px;
    row-gap: 0px;

    .grid-item {
        position: relative;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-left: 2px solid $accent;
        border-right: 2px solid $accent;

        &.logo {
            border: 5px solid $accent;
            background-image: url('./../images/mosaico-servicios.jpg');
            // &:hover {
            //     .inner-grid {
            //         opacity: 0;
            //     }
            // }
        }

        &.servicios {
            background-image: url('./../images/carton-icono.jpg');

            &:hover {
                .inner-grid {
                    opacity: 0;
                }

                background-image: url('./../images/carton-activo.jpg');
            }
        }

        &.materiales {
            background-image: url('./../images/plastico-icono.jpg');

            &:hover {
                .inner-grid {
                    opacity: 0;
                }

                background-image: url('./../images/plastico-activo.jpg');
            }
        }

        &.personal {
            background-image: url('./../images/papel-icono.jpg');

            &:hover {
                .inner-grid {
                    opacity: 0;
                }

                background-image: url('./../images/papel-activo.jpg');
            }
        }

        &.instalaciones {
            background-image: url('./../images/archivo-icono.jpg');

            &:hover {
                .inner-grid {
                    opacity: 0;
                }

                background-image: url('./../images/archivo-activo.jpg');
            }
        }

        &.proceso {
            background-image: url('./../images/pet-icono.jpg');

            &:hover {
                .inner-grid {
                    opacity: 0;
                }

                background-image: url('./../images/pet-activo.jpg');
            }
        }

        &:before {
            content: "";
            padding-bottom: 70%;
            display: inline-block;
            vertical-align: top;

            @media only screen and (max-width: 770px) {
                padding-bottom: 100%;
            }
        }

        .inner-grid {
            position: absolute;
            text-align: center;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            font-size: 1.5rem;
            padding-top: 1rem;
            background-color: $primary;
            transition: all 0.25s ease-in-out;

            .header {
                color: $white;
                position: relative;
                margin-bottom: 1rem;
                font-weight: bold;
                line-height: 1.7rem;

                &:before {
                    content: '';
                    position: absolute;
                    width: 120%;
                    height: 1px;
                    left: -10%;
                    bottom: -0.2rem;
                    border-bottom: 1px solid $white;
                }
            }

            .subheader {
                text-align-last: left;
                width: 60%;
                margin: 0 auto;
                color: $white;
                font-size: 0.7rem;
            }

            @media only screen and (max-width: 1024px) {}
        }
    }
}

#Installations {
    margin-top: -120px;
    padding-top: 120px;

    .slick-slider {
        height: 100%;

        .slick-list {
            height: 100%;

            .slick-track {
                height: 100%;

                .slick-slide div:first-child {
                    height: 100%;
                }
            }
        }
    }

    .colored {
        background-color: $primary;
        position: relative;

        #svgbg {
            position: absolute;
            top: 140px;
            right: -108px;
            transform: translateX(-50%) rotate(90deg);
            z-index: 1;
            width: 100px;
            height: 18px;
            fill: #ffffff;
            opacity: 1;
            fill: $primary;
            fill-opacity: 1;
            fill-rule: evenodd;
            stroke: none;
            stroke-width: 1;
            stroke-linecap: round;
            stroke-linejoin: miter;
            stroke-miterlimit: 4;
            stroke-dasharray: none;
            stroke-opacity: 1
        }

        .scroller {
            width: 100px;
            height: 100px;
            position: absolute;
            top: 100px;
            right: -35px;
            background-color: transparent;
            border-radius: 50% 50% 50% 50% / 40% 60% 60% 40%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            z-index: 2;

            i {
                color: $white;
                z-index: 10;
                position: relative;
                right: 25px;
            }
        }

        .description {
            position: relative;
            z-index: 10;

            .header {
                margin-left: 1rem;
                color: $white;
                position: relative;
                margin-bottom: 3px;
                font-weight: bold;
                line-height: 1.7rem;
                font-size: 1rem;

                &:before {
                    content: '';
                    position: absolute;
                    width: 190px;
                    height: 1px;
                    left: -10px;
                    bottom: 0;
                    border-bottom: 1px solid $white;
                }
            }

            .subheader {
                margin-left: 1rem;
                margin-bottom: 2rem;
                color: $white;
                font-size: 0.65rem;
            }

            .customCard {
                position: relative;
                border: 2px solid $accent;
                border-radius: 10px;
                padding: 0.3rem 1.5rem;
                padding-top: 1.3rem;
                margin-bottom: 2rem;

                .customCard-header {
                    position: absolute;
                    color: $white;
                    font-weight: bold;
                    background-color: $accent;
                    padding: 0.3rem 0.5rem;
                    font-size: 0.75rem;
                    border-radius: 3px;
                    text-transform: uppercase;
                    top: -1rem;
                    left: 1rem;
                    margin: 0;
                }

                .customCard-body {
                    color: $white;
                    font-weight: normal;
                    font-size: 0.65rem;
                    list-style: none;
                    padding: 0;
                    margin-bottom: 0.5rem;

                    li {
                        text-indent: 0;
                        position: relative;

                        &:before {
                            content: '-';
                            text-indent: -10px;
                            position: absolute;
                            top: 0;
                            left: 0;
                        }
                    }
                }
            }
        }
    }

    .InstallationsSlider {
        .item {
            width: 100%;
            min-height: calc(100vh - 130px);
            background-size: cover;
            background-position: center center;

            &.slide1 {
                background-image: url('../images/fachada-1.jpg');
            }

            &.slide2 {
                background-image: url('../images/camion-1.jpg');
            }

            &.slide3 {
                background-image: url('../images/bodega-2.jpg');
            }

            &.slide4 {
                background-image: url('../images/camion-2.jpg');
            }

            &.slide5 {
                background-image: url('../images/bodega-3.jpg');
            }

            &.slide6 {
                background-image: url('../images/camion-3.jpg');
            }

            &.slide7 {
                background-image: url('../images/fachada-2.jpg');
            }

            &.slide8 {
                background-image: url('../images/camion-4.jpg');
            }

            &.slide9 {
                background-image: url('../images/camion-5.jpg');
            }
        }
    }

    button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
        background-color: rgba($terciary, 0.5);
        border-radius: 100%;
        width: 40px;
        height: 40px;
        border: none;
        color: $white;
        transition: all 0.25s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &.prevInstallations {
            left: 1rem;
        }

        &.nextInstallations {
            right: 1rem;
        }

        &:hover {
            background-color: rgba($terciary, 1);
        }
    }
}

#Process {
    margin-top: -120px;
    padding-top: 120px;
    justify-content: center;
    align-items: center;
    background-image: url('../images/color.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    .processFloat {
        @include flexElementBase();
        @include boxShadowMixin();
        padding: 1rem;
        margin: 5rem auto;
        width: 70%;
        max-width: 550px;
        min-width: 250px;
        background-color: rgba($primary, 0.85);
        border-radius: 20px;

        .title {
            color: $white;
            position: relative;
            margin-bottom: 3px;
            font-weight: bold;
            font-size: 1.3rem;
            line-height: 1.7rem;

            &:before {
                content: '';
                position: absolute;
                width: 150px;
                height: 1px;
                left: -10px;
                bottom: 0;
                border-bottom: 1px solid $white;
            }
        }

        .subtitle {
            color: $white;
            font-weight: normal;
            font-size: 0.8rem;
        }

        .description {
            color: $white;
            font-size: 0.75rem;
            line-height: 1.4rem;
        }
    }
}

#ProcessGrid.grid-container {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    grid-gap: 0px;
    row-gap: 0px;

    .grid-item {
        position: relative;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-top: 4px solid $accent;
        border-bottom: 4px solid $accent;
        border-left: 2px solid $accent;
        border-right: 2px solid $accent;

        &.servicios {
            background-image: url('./../images/recoleccion.jpg');

            &:hover {
                .inner-grid {
                    opacity: 0;
                }

                background-image: url('./../images/recoleccion-activo.jpg');
            }
        }

        &.materiales {
            background-image: url('./../images/separacion.jpg');

            &:hover {
                .inner-grid {
                    opacity: 0;
                }

                background-image: url('./../images/separacion-activo.jpg');
            }
        }

        &.personal {
            background-image: url('./../images/reciclado.jpg');

            &:hover {
                .inner-grid {
                    opacity: 0;
                }

                background-image: url('./../images/reciclado-activo.jpg');
            }
        }

        &:before {
            content: "";
            padding-bottom: 110%;
            display: inline-block;
            vertical-align: top;

            @media only screen and (max-width: 770px) {
                padding-bottom: 100%;
            }
        }

        .inner-grid {
            position: absolute;
            text-align: center;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            font-size: 1.5rem;
            padding-top: 1rem;
            background-color: $primary;
            transition: all 0.25s ease-in-out;

            @media only screen and (max-width: 1024px) {}
        }
    }
}

#Personal {
    margin-top: -120px;
    padding-top: 120px;
    min-height: calc(100vh - 130px);

    .colored {
        background-color: $secondary;
        position: relative;

        #svgbg {
            position: absolute;
            bottom: 140px;
            left: -9px;
            transform: translateX(-50%) rotate(-90deg);
            z-index: 1;
            width: 100px;
            height: 18px;
            fill: #ffffff;
            opacity: 1;
            fill: $secondary;
            fill-opacity: 1;
            fill-rule: evenodd;
            stroke: none;
            stroke-width: 1;
            stroke-linecap: round;
            stroke-linejoin: miter;
            stroke-miterlimit: 4;
            stroke-dasharray: none;
            stroke-opacity: 1
        }

        .scroller {
            width: 100px;
            height: 100px;
            position: absolute;
            bottom: 100px;
            left: -35px;
            background-color: transparent;
            border-radius: 50% 50% 50% 50% / 40% 60% 60% 40%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            z-index: 2;
            transform: rotate(180deg);

            i {
                color: $white;
                z-index: 10;
                position: relative;
                right: 25px;
            }
        }

        .description {
            position: relative;
            z-index: 10;

            .header {
                margin-left: 1rem;
                color: $white;
                position: relative;
                margin-bottom: 3px;
                font-weight: bold;
                line-height: 1.7rem;
                font-size: 1rem;

                &:before {
                    content: '';
                    position: absolute;
                    width: 190px;
                    height: 1px;
                    left: -10px;
                    bottom: 0;
                    border-bottom: 1px solid $white;
                }
            }

            .subheader {
                margin-left: 1rem;
                margin-bottom: 2rem;
                color: $white;
                font-size: 0.65rem;
            }
        }
    }

    .PersonalSlider {
        width: 100%;
        min-height: calc(100vh - 130px);
        background-size: cover;
        background-position: center center;
        background-image: url('../images/personal.jpg');
    }
}

#Contact {
    margin-top: -120px;
    padding-top: 120px;

    .slide {
        font-size: 1.5rem;
        width: 100%;
        text-align: center;
        background-color: $primary;
        color: $white;
        padding: 1rem 0;
        margin-bottom: 0;
    }

    .contactContainer {
        min-height: calc(100vh - 130px);

        form {
            min-width: 300px;

            label {
                color: $primary;
                font-weight: bold;
            }

            input,
            textarea {
                border-color: $primary;
                background-color: $gray;
                font-size: 0.85rem;
                padding: .375rem 1.25rem;
            }

            button {
                background-color: $primary;
                color: $white;
            }
        }
    }
}

footer {
    background-color: $primary;
    position: relative;
    min-height: 70px;

    .scroller {
        width: 125px;
        height: 80px;
        position: absolute;
        top: -24px;
        left: 10%;
        transform: translateX(-50%);
        background-color: transparent;
        border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
        display: flex;
        z-index: 1;
        justify-content: center;

        i {
            color: $white;
            z-index: 10;
            position: relative;
            top: 10px;
        }
    }

    #svgbg {
        position: absolute;
        top: -17px;
        left: 10%;
        transform: translateX(-50%);
        z-index: 0;
        width: 100px;
        height: 18px;
        fill: #ffffff;
        opacity: 1;
        fill: $primary;
        fill-opacity: 1;
        fill-rule: evenodd;
        stroke: none;
        stroke-width: 1;
        stroke-linecap: round;
        stroke-linejoin: miter;
        stroke-miterlimit: 4;
        stroke-dasharray: none;
        stroke-opacity: 1
    }

    p, a {
        color: $white;
        font-size: 0.7rem;
        transition: all 0.25s ease-in-out;
    }

    p {
        position: relative;
        margin-bottom: 0;
        i {
            position: absolute;
            left: -1.5rem;
            font-size: 1rem !important;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    a {
        &:hover {
            color: rgba($white, 0.5);
        }
    }
}